@import url("https://fonts.googleapis.com/css?family=Josefin");
html,
body {
  background-color: black;
}
img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 800px)  {

    .video-overlay { 
        background-image: url('/media/bg.png');
    }
}
#wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  -webkit-perspective: 500px;
  perspective: 500px;
}
#box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.faded {
  object-fit: cover;
  position: fixed;
  top: -5%;
  width: 200%;
  height: 620px;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 15, 0.5),
    rgba(0, 0, 15, 0.3),
    rgba(0, 0, 15, 0.3),
    rgba(0, 0, 15, 0.6),
    rgba(0, 0, 0, 1)
  );
  z-index: 5;
  outline: 1280px solid black;
}
#box video {
  position: absolute;
  top: -5%;
  min-width: 150vw;
  height: 80vh;
  margin-left: -25vw;
  margin-right: -25vw;
  object-fit: cover;
  z-index: -2;
}

#inbox {
  z-index: 10;
  top: 20%;
  left: 50%;
  margin: 0;
  position: relative;
  -webkit-transform: translateZ(100px) translateX(-110px);
  transform: translateZ(100px) translateX(-110px);
}
#inbox textarea,
#inbox em {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

#inbox textarea {
  position: relative;
  width: 100%;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  opacity: 0;
}
#inbox:focus{
  opacity: 0;
}
#inbox em {
  position: relative;
  width: 50px;
  white-space: nowrap;
  pointer-events: none;
}
#inbox em.shining {
  position: absolute;
  width: 242px;
  filter: brightness(1.1) opacity(0.5) contrast(1.5);
  -webkit-transform: skewX(35deg);
  transform: skewX(35deg);
}
#inbox em.shining em {
  position: absolute;
  padding: 0;
  overflow: visible;
  -webkit-transform: skewX(-35deg);
  transform: skewX(-35deg);
}
.guide {
  position: absolute;
  left: 50%;
  bottom: 5%;
  white-space: nowrap;
  z-index: 10;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  font-family: Josefin, sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.25);
}

.nav {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 48px;
  background: transparent;
  z-index: 100;
}

.nav ul {
  list-style: none;
  text-align: center;
  line-height: 24px;
}
.nav ul li {
  display: inline-block;
}
.nav ul li a {
  font-family: Josefin, sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: regular;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.25);
  padding: 18px;
  transition: color 1s;
}

.nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
.first {
  margin-right: -0.17em;
  border-right: none !important;
}
.last {
  margin-left: -0.17em;
  border-left: none !important;
}

.hero__video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.hero .hero__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover !important;
  object-fit: cover !important;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .hero .hero__video {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .hero .hero__title {
    font-size: 5.625rem;
    line-height: 5rem;
  }
  .hero .hero__divider:after {
    top: 6rem;
  }
  .hero .hero__cta-title {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .hero .hero__title {
    margin-bottom: auto;
  }
  .hero .hero__cta-button {
    display: none;
  }
}
@media (max-width: 667px) and (orientation: landscape) {
  .hero .hero__title {
    font-size: 3.125rem;
    line-height: 3rem;
  }
  .hero .hero__cta-button {
    display: none;
  }
}
@media (max-width: 600px) {
  .hero .hero__divider:after {
    top: 4rem;
  }
  .hero .hero__title {
    font-size: 3.125rem;
    line-height: 3rem;
  }
  .hero .hero__cta-title {
    font-size: 0.875rem;
  }
}
