@import url("https://fonts.googleapis.com/css?family=Josefin");
html {
}
body {
  background-color: black;
}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 800px) {
  .video-overlay {
    background-image: url("/media/bg.png");
  }
}
#wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: 500px;
  perspective: 500px;
}
#box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.faded {
  object-fit: cover;
  position: fixed;
  top: -5%;
  width: 200%;
  height: 100vh;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 15, 0.5),
    rgba(0, 0, 15, 0.3),
    rgba(0, 0, 15, 0.3),
    rgba(0, 0, 15, 0.6),
    rgba(0, 0, 0, 1)
  );
  z-index: -1;
  outline: 100vh solid black;
  animation-duration: 4s;
}
#box video {
  position: absolute;
  top: -5%;
  min-width: 150vw;
  height: 80vh;
  margin-left: -25vw;
  margin-right: -25vw;
  object-fit: cover;
  z-index: -2;
}
#inbox {
  z-index: 5;
  top: 30%;
  left: 50%;
  margin: 0;
  position: absolute;
  -webkit-transform: translateZ(100px) translateX(-110px);
  transform: translateZ(100px) translateX(-110px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#inbox:focus {
  opacity: 0;
}
#inbox div {
  position: relative;
  width: 256px;
}
#inbox img {
  position: relative;
}
#inbox div.shining {
  position: fixed;
  overflow: hidden;
  filter: brightness(1.1) opacity(0.25) contrast(1.5);
  -webkit-transform: skewX(35deg);
  transform: skewX(35deg);
  z-index: 6;
  mix-blend-mode: overlay;
}
#logo {
  position: absolute;
  padding: 0;
}
.shining img {
  position: fixed;
  padding: 0;
  overflow: visible;
  -webkit-transform: skewX(-35deg);
  transform: skewX(-35deg);
}
.guide {
  position: absolute;
  left: 50%;
  bottom: 5%;
  white-space: nowrap;
  z-index: 10;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  font-family: Josefin, sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
}
.nav {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
}

.nav ul {
  list-style: none;
  text-align: center;
  line-height: 24px;
}
.nav ul li {
  display: inline-block;
}
.nav ul li a {
  font-family: Josefin, sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: regular;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.25);
  padding: 1.2em;
  transition: color 1s;
}

.nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
.first {
  margin-right: -0.17em;
  border-right: none !important;
}
.last {
  margin-left: -0.17em;
  border-right: none !important;
}
